<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/4.5.2/css/bootstrap.min.css}">

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <script th:src="@{/webjars/jquery/3.5.1/jquery.min.js}"></script>
    <script th:src="@{/webjars/bootstrap/4.5.2/js/bootstrap.js}"></script>
    <style>

        canvas {
            -moz-user-select: none;
            -webkit-user-select: none;
            -ms-user-select: none;
            min-height: 300px;
            max-height: 300px;
            min-width: 50%;
            max-width: 80%;
            margin-top: 10px;
        }

        .chart {
            padding-top: 20px;
            margin-bottom: 10px;
        }

        select {
            width: 120px;
            padding: .5em .3em;
            font-family: inherit;
            -webkit-appearance: none;
            -moz-appearance: none;
            appearance: none;
            border: 1px solid #999;
            border-radius: 0px;
        }

        select::-ms-expand {
            /* for IE 11 */
            display: none;
        }

    </style>

 </head>
<body>

 <div >
     <h3 class="card-title">Line Chart</h3>
 </div>
 <div class="container">
     <ul class="nav nav-tabs">
         <li class="nav-item">
             <a class="nav-link active" data-toggle="tab" href="#windSpeed">windspeed</a>
         </li>
         <li class="nav-item">
             <a class="nav-link" data-toggle="tab" href="#winDir">winDir</a>
         </li>
     </ul>


     <div class="tab-content">
         <div class="tab-pane fade show active" id="windSpeed">
             <div class="chart">
                 <h3>windSpeed</h3>
                 <canvas id="winSpdChart" width="800px" height="300px"></canvas>
             </div>
         </div>
         <div class="tab-pane fade" id="winDir">
             <div class="chart">
                 <h3>winDir</h3>
                 <canvas id="windDirChart" width="800px" height="300px"></canvas>
             </div>
         </div>
     </div>
 </div>
</body>
<script th:src="@{/js/moment.js}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.5.1/chart.min.js" integrity="sha512-Wt1bJGtlnMtGP0dqNFH1xlkLBNpEodaiQ8ZN5JLA5wpc1sUlk/O5uuOMNgvzddzkpvZ9GLyYNa8w2s7rqiTk5Q==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="https://cdn.jsdelivr.net/npm/chartjs-adapter-date-fns/dist/chartjs-adapter-date-fns.bundle.min.js"></script>
<script th:src="@{/chart/chartUtils.js}"></script>
<script th:src="@{/chart/chartCommon.js}"></script>
<script>

    const  defaultDataSet = chartDataSet;
    const defaultOptions = chartOptions;

    const winSpdCtx = document.getElementById('winSpdChart').getContext('2d');
    const winDirCtx = document.getElementById('windDirChart').getContext('2d');


    let myChart =  null;



    function  initChart(chartType) {
        console.log(chartType)
        let ctx = null;
        if(chartType == 'windSpeed') {
            ctx = winSpdCtx;
        }else if(chartType == 'winDir'){
            ctx = winDirCtx;
        }

        if(myChart != null) {
            myChart.destroy();
        }

        myChart = new Chart(ctx, {
            type:  'line',
            data: defaultDataSet,
            options: defaultOptions
        })

        makeChart(chartType);
    }

    function makeChart(chartType) {
        const param = function() {
            const now = moment().format('YYYY-MM-DD 00:00:00');
            const startDate = now;
            const endDate = moment(startDate).add(24, 'hours').format('YYYY-MM-DD HH:mm:ss');

            return  {
                        startDate : startDate,
                        endDate: endDate,
                        type: chartType,
                        sensorId : 'SBR2001'
                    };
        }

        $.ajax({
            url: '/chart/chartData',
            type: "post",
            dataType: "json",
            data: param(),
            success: function (data) {
                console.log(data)
                if (data.resultCode === 200) {
                    drawCharts(data.chartData);
                }
            },
            fail: function (data) {
                console.log(data)
            },
            error: function (data, status, error) {
                console.log(error);
            }
        });

    }

    function drawCharts(data) {
        if (typeof data != 'undefined' && data.length > 0) {
            const selectedRange = 'time';
            //기본 차트 데이터 셋을 가져 온다
            const chartDates = chartDataSet;

            chartDates.datasets[0].label = 'windSpd';
            chartDates.datasets[0].data = data;
            chartDates.datasets[0]['fill'] = false;
            chartDates.datasets[0]['borderWidth'] = 2;
            chartDates.datasets[0]['cubicInterpolationMode'] = 'monotone';

            var chartOpt = getChartOption(data);

            myChart.data = chartDates;
            myChart.options = chartOpt;
            myChart.update();
        }
    }

    function  getChartOption(data) {
        var option = chartOptions;

        console.log(data)

        const min = getChartMinData(data);
        const max = getChartMaxData(data);

        console.log(max)

        option.scales.y.ticks.min = min;
        option.scales.y.ticks.max = max;
        option.scales.y.ticks.stepSize = getStepSize(max);
        return option;
    }


    $(document).ready(function(){

        $('a[data-toggle="tab"]').on('shown.bs.tab', function (e) {
            var target = $(e.target).attr("href").replace('#','');
            initChart(target);
        });

        initChart('windSpeed');
    })








</script>

</html>
