<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>


    <link rel="stylesheet" th:href="@{/webjars/bootstrap/4.5.2/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/webjars/jquery-ui/1.12.1/jquery-ui.css}">
    <link rel="stylesheet" th:href="@{/datatables/css/jquery.dataTables.css}">
    <link rel="stylesheet" th:href="@{/datatables/css/scroller.bootstrap4.css}">
    <link rel="stylesheet" th:href="@{/datatables/css/fixedColumns.dataTables.css}">



    <script th:src="@{/webjars/jquery/3.5.1/jquery.min.js}"></script>
    <script th:src="@{/webjars/bootstrap/4.5.2/js/bootstrap.js}"></script>
    <script th:src="@{/datatables/js/jquery.dataTables.js}"></script>
    <script th:src="@{/datatables/js/scroller.bootstrap4.min.js}"></script>
    <script th:src="@{/datatables/js/dataTables.fixedColumns.js}"></script>

    <style>
        div.dataTables_wrapper {
            width:65%;
            margin: 0 auto;
        }
    </style>

</head>
<body>
  <div class="">
      <table id="dataTable" class="stripe row-border order-column nowrap" style="width:100%">
          <thead>
          <tr>
              <th>순번</th>
              <th>제목</th>
              <th>저자</th>
              <th>조회 수</th>
          </tr>
          </thead>
      </table>
  </div>
  <script th:inline="javascript">

      var table;
      var columns = [
          {data: 'boardId'},
          {data: 'boardTitle'},
          {data: 'boardAuthor'},
          {data: 'readCnt'}
      ]
      function drawData(){

          table = $('#dataTable').DataTable({
              ajax: {
                  url: '/test/bqa/list',
                  type: 'POST',
                  data: function(d, settings) {
                      var api = new $.fn.dataTable.Api(settings);
                      d.page = api.page.info().page;
                      d.size = api.page.info().length;
                      d.sidx = columns[Number(api.order()[0][0])].data;
                      d.sord = api.order()[0][1]

                  },
                  dataFilter: function(data) {
                      var json = $.parseJSON(data);
                      json.recordsTotal = json.total;
                      json.recordsFiltered = json.total;
                      json.data = json.content;
                      return JSON.stringify(json);
                  }
              }
              ,deferRender:    true
              ,scrollY:       300
              ,scrollX:        true
              ,scrollCollapse: true
              ,scroller:       true
              , searching: false
              , ordering: true
              , processing: true
              , serverSide: true
              ,paging: true
              , pagingType: "full_numbers"
              , columns: columns
          });
          new $.fn.dataTable.FixedColumns( table );
      }

      $(document).ready(function (){
         drawData();
      });


  </script>
</body>
</html>
