<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <script th:src="@{/webjars/jquery/3.5.1/jquery.min.js}"></script>
    <script th:src="@{/webjars/jquery-form/4.2.2/jquery.form.min.js}"></script>
    <script th:src="@{/webjars/bootstrap/4.5.2/js/bootstrap.js}"></script>

    <style>
        .stn {
            display:table;
            overflow:hidden;
            position:relative;
            width:100%;
            margin:0 0 30px 0;
            border-radius:5px;
            box-shadow:2px 2px 10px rgba(0,0,0,0.1);
            background:#fff;
        }
    </style>

    <link rel="stylesheet" type="text/css" media="screen" th:href="@{/webjars/bootstrap/4.5.2/css/bootstrap.css}" />
    <link rel="stylesheet" type="text/css" media="screen" th:href="@{/webjars/jquery-ui/1.12.1/jquery-ui.css}" />

    <link rel="stylesheet" type="text/css" media="screen" th:href="@{/jqgrid/css/ui.jqgrid.css}" />
    <link rel="stylesheet" type="text/css" media="screen" th:href="@{/jqgrid/css/jqgrid.customs.css}" />


</head>
<body>

        <div class="contents">
        <div style="margin-top: 20px" class="stn">
            <table id="grid"  class="tbl_lst"></table>
            <div id="pager"></div>
        </div>
    </div>


</body>


<script  th:src="@{/jqgrid/js/i18n/grid.locale-kr.js}"></script>
<script  th:src="@{/jqgrid/js/jquery.jqGrid.js}"></script>
<script type="text/javascript" th:src="@{/js/common.js}"></script>
<script>

    function createGrid(){
        $("#grid").jqGrid({
            url : '/test/bqa/jqgrid',
            mtype : "POST",
            datatype : "json",

            postData : {},
            colModel : [
                {label : '순번', name : 'boardId', width : '10%', align : 'center'},
                {label : '제목', name : 'boardTitle', width : '50%', align : 'center'},
                {label : '저자', name : 'boardAuthor', width : '30%', align : 'center'},
                {label : '조회 수', name : 'readCnt', width : '10%', align : 'center'}
            ],
            rowNum : 15,
            rowList : [15, 20, 30],
            width : '1250',
            height : '300',
            pager : '#pager',
            gridview : true,
            autoencode:true,
            viewrecords: true,
            shrinkToFit : true,
            sortname:'boardId',
            sortorder: 'desc',
            loadComplete : function(data) {
                /*그리드 그린 후 조작할 때 사용 */
            }
        });
    }

    function reloadGrid(param){
        console.log(param);
        $('#grid').clearGridData();
        $('#grid').setGridParam({
            postData: param
        }).trigger("reloadGrid");
    }


    $(document).ready(function(){
        createGrid();
    });

</script>

</html>