<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>


    <link rel="stylesheet" th:href="@{/webjars/bootstrap/4.5.2/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/webjars/jquery-ui/1.12.1/jquery-ui.css}">
    <link rel="stylesheet" th:href="@{/datatables/css/scroller.bootstrap4.css}">

    <link rel="stylesheet" type="text/css" th:href="@{/css/table/reset.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{/css/table/font.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{/css/table/all.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{/css/table/common.css}" />


    <script th:src="@{/webjars/jquery/3.5.1/jquery.min.js}"></script>
    <script th:src="@{/webjars/jquery-form/4.2.2/jquery.form.min.js}"></script>
    <script th:src="@{/webjars/bootstrap/4.5.2/js/bootstrap.js}"></script>

</head>
<body>
    <div id="wrap">
        <div id="header">
            <h1><a href="#">게시판 예제</a></h1>
        </div>
        <div id="container" class="div_normal">
            <!-- #contents -->
            <div id="contents">
                <!-- .content -->
                <div class="content">
                    <!-- .titArea -->
                    <div class="titArea">
                        <h3>게시판</h3>
                    </div>
                    <form id ="goDetailFrm" name="goDetailFrm" method="post">
                        <input type="hidden" id="currentPage" name="currentPage" th:value="${pager.currentPage}">
                        <!-- //.section -->
                        <div class="tblTop">
                            <div class="srchNum">총 <span th:text="${listSize}"></span>건이 검색되었습니다.</div>
                        </div>
                        <!-- .tblBox -->
                        <div class="tblBox" style="padding-top: 5px">
                            <table class="tblType01" style="table-layout: fixed">
                                <caption class="hide">신청자 목록</caption>
                                <colgroup>
                                </colgroup>
                                <thead>
                                <tr>
                                    <th scope="col" style="width: 3%;">
                                        <div class="ipt_check_only">
                                            <input type="checkbox" id="ipt_check_all" class="ipt_check">
                                            <label for="ipt_check_all"></label>
                                        </div>
                                    </th>
                                    <th scope="col" style="width: 3%;">번호</th>
                                    <th scope="col" style="width: 5%;">제목</th>
                                    <th scope="col" style="width: 10%;">저자</th>
                                    <th scope="col" style="width: 10%;">조회수</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr th:each="board, status :${boardList}">
                                    <td scope="row">
                                        <div class="ipt_check_only">
                                            <input type="checkbox" class="ipt_check" th:id="${'userChk_' +(status.index+1)}" name="userChk" th:value="${board.boardId}">
                                        </div>
                                    </td>
                                    <td th:text=" ${board.boardId}"></td>
                                    <td th:text=" ${board.boardTitle}"></td>
                                    <td th:text=" ${board.boardAuthor}"></td>
                                    <td th:text=" ${board.readCnt}"></td>
                                </tr>

                                <tr th:if="${listSize == 0}">
                                    <td colspan="9" scope="row">데이터가 없습니다.</td>
                                </tr>

                                </tbody>
                            </table>
                        </div>
                        <!-- //.tblBox -->
                        <!-- .paging_wrap -->
                        <div class="paging_wrap">
                            <div class="paging" th:utext="${paging}"></div>
                        </div>
                        <!-- //.paging_wrap -->
                    </form>
                </div>
                <!-- //.content -->
            </div>
            <!-- //#contents -->
        </div>
    </div>
</body>
<script>

    //페이지 이동
    function goPage(num){
        $('#currentPage').val(num);
        goSch();
    }

    function goSch() {
        var mainFrm = $('#goDetailFrm');
        mainFrm.attr('method',"post");
        mainFrm.attr('action',"/test/board");
        mainFrm.submit();
    }

</script>
</html>