.ui-jqgrid .ui-jqgrid-hdiv {
    position: relative;
    margin: 0;
    padding: 0;
    overflow: hidden;
    border-left: 0 none !important;
    border-top : 0 none
    !important;
    border-right : 0 none !important;
    background-color: #d7d4d4;

}

.ui-jqgrid .ui-jqgrid-htable th {
    height: 45px;
    padding: 0 2px 0 2px;
    background-color: #d7d4d4;
    color : #f61919;
}
